<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated og -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="og.presentation.OgModelWizardID"
            name="%_UI_OgModelWizard_label"
            class="og.presentation.OgModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OgModelFile.gif">
         <description>%_UI_OgModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated og -->
      <editor
            id="og.presentation.OgEditorID"
            name="%_UI_OgEditor_label"
            icon="icons/full/obj16/OgModelFile.gif"
            extensions="og"
            class="og.presentation.OgEditor"
            contributorClass="og.presentation.OgActionBarContributor">
      </editor>
   </extension>

</plugin>
