<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated olympics -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="olympics.presentation.OlympicsModelWizardID"
            name="%_UI_OlympicsModelWizard_label"
            class="olympics.presentation.OlympicsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OlympicsModelFile.gif">
         <description>%_UI_OlympicsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated olympics -->
      <editor
            id="olympics.presentation.OlympicsEditorID"
            name="%_UI_OlympicsEditor_label"
            icon="icons/full/obj16/OlympicsModelFile.gif"
            extensions="olympics"
            class="olympics.presentation.OlympicsEditor"
            contributorClass="olympics.presentation.OlympicsActionBarContributor">
      </editor>
   </extension>

</plugin>
