<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated projectStructureMM -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="projectStructureMM.presentation.ProjectStructureMMModelWizardID"
            name="%_UI_ProjectStructureMMModelWizard_label"
            class="projectStructureMM.presentation.ProjectStructureMMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ProjectStructureMMModelFile.gif">
         <description>%_UI_ProjectStructureMMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated projectStructureMM -->
      <editor
            id="projectStructureMM.presentation.ProjectStructureMMEditorID"
            name="%_UI_ProjectStructureMMEditor_label"
            icon="icons/full/obj16/ProjectStructureMMModelFile.gif"
            extensions="projectstructuremm"
            class="projectStructureMM.presentation.ProjectStructureMMEditor"
            contributorClass="projectStructureMM.presentation.ProjectStructureMMActionBarContributor">
      </editor>
   </extension>

</plugin>
