<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!-- ProjectStructMM Edit Support Plugin Configuration -->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated projectStructMM -->
      <factory
            uri="http://www.g7.org/projectStructMM"
            class="projectStructMM.provider.ProjectStructMMItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
