<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated olympics -->
      <package
            uri="http://se.lnu.mde/olympics/clean"
            class="olympics.OlympicsPackage"
            genModel="model/olympics.genmodel"/>
   </extension>

</plugin>
