<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated og -->
      <package
            uri="http://www.sb224sc.org/og"
            class="og.OgPackage"
            genModel="model/og.genmodel"/>
   </extension>

</plugin>
