<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated projectStructureMM -->
      <package
            uri="http://www.g7.org/projectStructureMM"
            class="projectStructureMM.ProjectStructureMMPackage"
            genModel="model/projectStructureMM.genmodel"/>
   </extension>

</plugin>
